---
layout: home
title: Home
---

<h2>What do we do?</h2>
<p>We do small-medium app and web project consulting and contracting within Vancouver.</p>

<h2>Our Projects</h2>
<p>Some of our fun in-house iOS apps include:</p>

<div class="row">
    {% for project in site.data.projects %}
    <div class="col-sm-12 col-lg-6">
        <div class="thumbnail">
            <h3>{{ project.name }}</h4>
            <p class="brief">{{ project.brief }}</p>
            {% if project.url %}
            <a href="{{ project.url }}" class="btn btn-default col-xs-12" role="button"><i class="fa fa-link"></i> See more</a>
            {% endif %}
            <div class="clearfix"></div>
        </div>
    </div>
    {% endfor %}
</div>
