{% include header.html %}
  {% include navigation.html %}

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <img src="img/ofg.svg" class="logo" alt="One Fat Giraffe" />
        <p class="lead">We are a digital media company based in Vancouver, Canada, focused on interactive media and mobile solutions.</p>

        <a href="http://scr.im/35xm" class="btn btn-default" role="button"><i class="fa fa-envelope-o"></i> Email us</a>
        {% if site.twitter %}
        <a href="https://twitter.com/{{site.twitter}}" class="btn btn-default" role="button"><i class="fa fa-twitter"></i> @{{site.twitter}}</a>
        {% endif %}

      </div>
    </div><!-- /.row -->
  </div>
</div><!-- /.pane-jumbotron -->

{% include featurettes.html %}

  <div class="pane">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
        {{ content }}
        </div>
        <div class="col-md-4">
        {% include sidebar.html %}
        </div>
      </div><!-- /.row -->
    </div>
  </div><!-- /.pane -->

  {% include footer.html %}
